 .u-section-1 {
  background-image: linear-gradient(#f1c50e, #db545a);
}

.u-section-1 .u-sheet-1 {
  min-height: 896px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
  height: auto;
  min-height: 229px;
  margin-top: 116px;
}