 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 382px;
  margin: 109px 65px 60px 44px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-custom-html-1 {
    width: 1031px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 386px;
    width: 831px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 387px;
    width: 611px;
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 386px;
    width: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 400px;
    width: 227px;
  }
}