 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3795px;
}

.u-section-1 .u-products-1 {
  width: 1320px;
  margin: 92px -13px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 528px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-products-2 {
  width: 1320px;
  margin: 0 -13px 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 528px;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-16 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-17 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-18 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-products-3 {
  width: 1320px;
  margin: 0 -13px 0 auto;
}

.u-section-1 .u-repeater-3 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 528px;
}

.u-section-1 .u-repeater-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-7 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-19 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-20 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-21 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-image-8 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-22 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-23 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-24 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-9 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-25 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-26 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-27 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-products-4 {
  width: 1320px;
  margin: 0 -13px 0 auto;
}

.u-section-1 .u-repeater-4 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 528px;
}

.u-section-1 .u-repeater-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-image-10 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-28 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-29 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-30 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-image-11 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-31 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-32 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-33 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-image-12 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-34 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-35 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-36 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-products-5 {
  width: 1320px;
  margin: 0 -13px 0 auto;
}

.u-section-1 .u-repeater-5 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 528px;
}

.u-section-1 .u-repeater-item-13 {
  background-image: none;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-image-13 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-37 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-38 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-39 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-14 {
  background-image: none;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-image-14 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-40 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-41 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-42 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-15 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-image-15 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-43 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-44 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-45 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-products-6 {
  width: 1320px;
  margin: 0 -13px 0 auto;
}

.u-section-1 .u-repeater-6 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 528px;
}

.u-section-1 .u-repeater-item-16 {
  background-image: none;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-image-16 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-46 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-47 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-48 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-17 {
  background-image: none;
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-image-17 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-49 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-50 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-51 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-18 {
  background-image: none;
}

.u-section-1 .u-container-layout-18 {
  padding: 30px;
}

.u-section-1 .u-image-18 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-52 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-53 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-54 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-products-7 {
  width: 1320px;
  margin: 0 -13px 7px auto;
}

.u-section-1 .u-repeater-7 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  grid-gap: 0px 0px;
  min-height: 528px;
}

.u-section-1 .u-repeater-item-19 {
  background-image: none;
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-image-19 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-55 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-56 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-57 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-20 {
  background-image: none;
}

.u-section-1 .u-container-layout-20 {
  padding: 30px;
}

.u-section-1 .u-image-20 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-58 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-59 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-60 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-item-21 {
  background-image: none;
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-image-21 {
  height: 301px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-61 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-62 {
  border-style: solid;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-63 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 20px auto 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-products-1 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 456px;
  }

  .u-section-1 .u-products-2 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 456px;
  }

  .u-section-1 .u-products-3 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 456px;
  }

  .u-section-1 .u-products-4 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 456px;
  }

  .u-section-1 .u-products-5 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 456px;
  }

  .u-section-1 .u-products-6 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 456px;
  }

  .u-section-1 .u-products-7 {
    width: 1140px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-7 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 456px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-products-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 376px;
  }

  .u-section-1 .u-products-2 {
    width: 940px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 376px;
  }

  .u-section-1 .u-products-3 {
    width: 940px;
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 376px;
  }

  .u-section-1 .u-products-4 {
    width: 940px;
  }

  .u-section-1 .u-repeater-4 {
    min-height: 376px;
  }

  .u-section-1 .u-products-5 {
    width: 940px;
  }

  .u-section-1 .u-repeater-5 {
    min-height: 376px;
  }

  .u-section-1 .u-products-6 {
    width: 940px;
  }

  .u-section-1 .u-repeater-6 {
    min-height: 376px;
  }

  .u-section-1 .u-products-7 {
    width: 940px;
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-7 {
    min-height: 376px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-products-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 864px;
  }

  .u-section-1 .u-products-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 864px;
  }

  .u-section-1 .u-products-3 {
    width: 720px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: repeat(2, 50%);
    min-height: 864px;
  }

  .u-section-1 .u-products-4 {
    width: 720px;
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: repeat(2, 50%);
    min-height: 864px;
  }

  .u-section-1 .u-products-5 {
    width: 720px;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: repeat(2, 50%);
    min-height: 864px;
  }

  .u-section-1 .u-products-6 {
    width: 720px;
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: repeat(2, 50%);
    min-height: 864px;
  }

  .u-section-1 .u-products-7 {
    width: 720px;
  }

  .u-section-1 .u-repeater-7 {
    grid-template-columns: repeat(2, 50%);
    min-height: 864px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-products-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-products-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-products-3 {
    width: 540px;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-products-4 {
    width: 540px;
    margin-top: 0;
  }

  .u-section-1 .u-repeater-4 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-products-5 {
    width: 540px;
  }

  .u-section-1 .u-repeater-5 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-products-6 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-1 .u-repeater-6 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-products-7 {
    width: 540px;
  }

  .u-section-1 .u-repeater-7 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-products-1 {
    width: 340px;
  }

  .u-section-1 .u-products-2 {
    width: 340px;
  }

  .u-section-1 .u-products-3 {
    width: 340px;
  }

  .u-section-1 .u-products-4 {
    width: 340px;
  }

  .u-section-1 .u-products-5 {
    width: 340px;
    margin-top: 20px;
  }

  .u-section-1 .u-products-6 {
    width: 340px;
  }

  .u-section-1 .u-products-7 {
    width: 340px;
  }
}